<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>User Sign Up</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/logo2.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                       
        </button>
        
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/signup">Signup!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <h1>
		Sign up:
	</h1>
<!--
  <form action = "/signup" method = "POST">
    <label> Name: </label>
		<input type = "text" name = "name" placeholder = "Name" ><br>
		<label> Username: </label>
		<input type = "text" name = "user_name" placeholder = "Username" ><br>
		<label>Password:</label>
		<input type = "password" name = "user_pass" placeholder = "Password">
<br>
		<input type = "submit" name = "submit">
	</form>
  -->

  <form action = "/signup" method = "POST">
  <div class="imgcontainer">
    <img src="/static/logo2.png" alt="Avatar" class="avatar">
  </div>
  
  <div class="container">
    {% if x %}
    <h3 style="color:red;">
		User Already Exists, Please Log in
	</h3>
    {% endif %}
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>
    
    <label for="user_name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user_name" required>

    <label for="user_pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="user_pass" id="myInput" required>
    <input type="checkbox" onclick="myFunction()">Show Password
    <br>
    <button type="submit">Signup!</button>
   
  </div>

</form>


  <script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>

  
</body>
</html>